//шрифты

@font-face {
	font-display: swap;
	font-family: "SFUID";
	src: url("/src/assets/fonts/SFUIDisplay/SFUIDisplay-Bold.ttf");
	font-weight: 700;
}

@font-face {
	font-display: swap;
	font-family: "SFUID";
	src: url("/src/assets/fonts/SFUIDisplay/SFUIDisplay-Medium.ttf");
	font-weight: 500;
}

//-------

@font-face {
	font-display: swap;
	font-family: "Montserat";
	src: url("/src/assets/fonts/Montserat/Montserrat-Black.ttf");
	font-weight: 900;
}

@font-face {
	font-display: swap;
	font-family: "Montserat";
	src: url("/src/assets/fonts/Montserat/Montserrat-ExtraBold.ttf");
	font-weight: 800;
}

@font-face {
	font-display: swap;
	font-family: "Montserat";
	src: url("/src/assets/fonts/Montserat/Montserrat-SemiBold.ttf");
	font-weight: 600;
}

@font-face {
	font-display: swap;
	font-family: "Montserat";
	src: url("/src/assets/fonts/Montserat/Montserrat-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-display: swap;
	font-family: "Montserat";
	src: url("/src/assets/fonts/Montserat/Montserrat-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-display: swap;
	font-family: "Montserat";
	src: url("/src/assets/fonts/Montserat/Montserrat-Light.ttf");
	font-weight: 300;
}