$grey: linear-gradient(0deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 21%, 1) 65%, hsla(0, 0%, 27%, 1) 100%);
$grey__i: linear-gradient(0deg, hsla(0, 0%, 27%, 1) 0%, rgb(37, 37, 37) 65%, hsla(0, 0%, 0%, 1) 100%, );
$grey__H: #343434;
$grey__A: #232323;
$main: rgba(37, 37, 37, 1);
$white: rgba(255, 255, 255, 1);